body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gainsboro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(./styles/MovieCard.css);